<div class="my-4 w-50 m-auto" style="min-height: 80vh;">
    <form action="/" method="post">
        <div>
            <label for="username">Username</label>
            <input type="text" name="username" id="" required>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" id="" required>
        </div>
        <button type="submit">Login</button>
    </form>

    <div>
        <span>Or</span>
        <a href="/user/register">Register</a>
    </div>
</div>
