<div class="my-4 w-25 m-auto" style="min-height: 80vh;">
    <h2 class="mb-4 text-center">Register</h2>

    <form action="/user/register/stored" method="post">
        <div>
            <label for="username">Username</label><br>
            <input type="text" name="username" id="" class="w-100" required>
        </div>
        <div class="my-4">
            <label for="password">Password</label><br>
            <input type="password" name="password" id="password-input" class="w-100" required>
        </div>
        <div class="mb-2">
            <label for="password2">Confirm Password</label><br>
            <input type="password" name="password2" id="password2-input" class="w-100" required>
        </div>

        {{#if err}}
        <div class="mb-1">{{err}}</div>
        {{/if}}

        <div id="err-text" class="mb-4"></div>
        
        <button type="submit" class="mb-2 btn btn-primary d-block mx-auto">Register</button>
    </form>

    <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="mb-2">Or</span>
        <a href="/user/login" class="text-decoration-none">Login</a>
    </div>
</div>

<script>
    const passwordInput = document.querySelector('#password-input')
    const password2Input = document.querySelector('#password2-input')
    const errText = document.querySelector('#err-text')

    function validatePassword() {
            if(passwordInput.value !== password2Input.value) {
            errText.innerHTML = '<p>Your password is not match!</p>'
        } else {
            errText.innerHTML = ''
        }
    }

    passwordInput.addEventListener('input', validatePassword)
    password2Input.addEventListener('input', validatePassword)
</script>
